html, body {
      position: relative;
      height: 100%;
    }
    body {
       background-color: green;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
     
    }

    h1{
      text-align: center;
      background: #white;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 50px;
    }

    select{

   width: 80%



 